:root {
  --cor-primaria: '';
  --cor-secundaria: '';
  --texto-primario: '';
  --texto-secundario: '';
}

$corPrimaria: var(--cor-primaria);
$corSecundaria: var(--cor-secundaria);
$textoPrimario: var(--texto-primario);
$textoSecundario: var(--texto-secundario);